/* ================================================
  Boock
================================================ */
.Login {
  position: relative;
  line-height: 1.2;
  padding: 0 10px;
  font-size: 12px;
  border: none;
}

/* ================================================
  Elements
================================================ */
.Login__submit {

}
.Login__error {
  padding: 5px;
}
.Login__success {
  padding: 5px;
}

/* ================================================
  Modifiers
================================================ */

.Login--is-errored {
  
}

.Login--is-success {
  
}

.Login--is-success .Login__label {
  color: rgba(0, 0, 0, 1);
}
.Login--is-success .Login__success {
  color: rgba(0, 0, 0, 1);
}